@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "Chicago";
  src: url("/fonts/ChicagoFLF.ttf") format("truetype");
}

.font-chicago {
  font-family: "Chicago", sans-serif;
}

.pixelated {
  image-rendering: pixelated;
}

/* Hide scrollbars globally */
html, body {
  overflow: hidden;
  height: 100vh;
}

/* Hide scrollbar for Chrome, Safari and Opera */
::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
* {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

/* Retro selection style */
::selection {
  background: #000000;
  color: #ffffff;
}

@layer base {}

@layer base {
  * {
    @apply border-border outline-ring/50;
  }
  body {
    @apply bg-background text-foreground;
  }
}

